<div class="side-bar-container .z-depth-3" >
<div class="side-bar-header">
<h3 class="side-bar-header-title">
Data base Replicator</h3>
</div>
<div class="side-bar-body">
  <p class="subtitle">ESQUEMAS</p>
  <hr>
  <ngb-accordion [closeOthers]="true"  >
    <ngb-panel id="static-1"  >
        <ng-template ngbPanelTitle>
            <span><img src="../../../assets/img/diagram-with-squares.svg" height="24" width="24"> Public</span>
          </ng-template>
      <ng-template ngbPanelContent>
       
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2">
      <ng-template ngbPanelTitle>
        <span><img src="../../../assets/img/diagram-with-squares.svg" height="24" width="24"> USER</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <ul>
          <li>
              <span><img src="../../../assets/img/table.svg" height="24" width="24"> Usuarios</span>
          </li>
          <li>
              <span><img src="../../../assets/img/table.svg" height="24" width="24"> Reportes</span>
          </li>
          <li>
              <span><img src="../../../assets/img/table.svg" height="24" width="24"> Incidencias</span>
          </li>
        </ul>
        
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Disabled" >
      <ng-template ngbPanelContent>
        
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
</div>