<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
<div class="container" >
   <form action="/index" method="post">
      <div class="form-group">
        <label for="host">Host</label>
        <div class="input-group">
          <input id="host" name="host" class="form-control" placeholder="host de la maquina">
        </div>

      </div>
      <div class="form-group">
        <label for="port">Puerto</label>
        <div class="input-group">
          <input id="port" name="port" class="form-control" placeholder="puerto">
        </div>
      </div>
      <div class="form-group">
          <label for="name">Base</label>

        <div class="input-group">
          <input id="name" name="dbname" class="form-control" placeholder="base">

        </div>
      </div>
       <div class="form-group">
          <label for="username">user</label>

        <div class="input-group">
          <input id="username" name="username" class="form-control" placeholder="base">

        </div>
      </div>
        <div class="form-group">
          <label for="password">pass</label>
          <div class="input-group">

            <input type="password" id="password" name="password" class="form-control" placeholder="">

          </div>
        </div>
       <div class="form-group">
          <div class="input-group">
            <input type="submit" id="submit" class="form-control">
          </div>
        </div>
    </form>
    </div>
</body>
</html>